{% extends "base.html" %}
{% block stylesheets %}
<link rel="stylesheet" href="/css/admin/screen.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="/css/admin/print.css" type="text/css" media="print" />
<!--[if IE]>
  <link rel="stylesheet" href="/css/admin/ie.css" type="text/css" media="screen, projection" />
<![endif]-->
{% endblock %}
{% block header %}
<div class="span-20">
<div><a href="/">Website</a> | <a href="/admin">Admin</a></div>
{% block adminheader %}
{% endblock %}
</div>
<div id="logout-tool" class="span-4 last">
<p>Welcome, {{ nickname }}.<br />
<a href="{{ logout }}">Logout</a></p>
</div>
{% endblock %}
