{% extends "public.html" %}
{% block pagetitle %}Menu &#8212; Stout Public House, San Diego, CA{% endblock %}
{% block content %}
<div id="top" class="span-24">
  <h1 class="span-24">Stout Food and Drink</h1>
</div>
<div id="menu" class="span-24">
  <div class="span-7 append-1">
    <h2>Starters</h2>
    <ul class="nobullets noindent">
      <li>Guinness Pot-Pie &#8212; <i class="price">$11.99</i></li>
      <li>Blackened Cod Filet &#8212; <i class="price">$13.99</i></li>
      <li>Irish Potato Stew &#8212; <i class="price">$8.99</i></li>
    </ul>
    <h2>Stout Soups &amp; Salads</h2>
    <ul class="nobullets noindent">
      <li>Clam Chowder &#8212; $5.99</li>
    </ul>
    <h2>Irish Pub Fare</h2>
    <ul class="nobullets noindent">
      <li>Clam Chowder &#8212; $5.99</li>
    </ul>
  </div>
  <div class="span-7 append-1">
    <h2>Burgers and Sandwiches</h2>
    <ul class="nobullets noindent">
      <li>Guinness Pot-Pie &#8212; <i class="price">$11.99</i></li>
      <li>Blackened Cod Filet &#8212; <i class="price">$13.99</i></li>
      <li>Irish Potato Stew &#8212; <i class="price">$8.99</i></li>
    </ul>
    <h2>Main Events</h2>
    <ul class="nobullets noindent">
      <li>Guinness Pot-Pie &#8212; <i class="price">$11.99</i></li>
      <li>Blackened Cod Filet &#8212; <i class="price">$13.99</i></li>
      <li>Irish Potato Stew &#8212; <i class="price">$8.99</i></li>
    </ul>
  </div>
  <div id="dujour" class="span-8 last">
    <h2>Daily Specials</h2>
    <ul class="nobullets noindent">
      <li>Guinness Pot-Pie &#8212; <i class="price">$11.99</i></li>
      <li>Blackened Cod Filet &#8212; <i class="price">$13.99</i></li>
      <li>Irish Potato Stew &#8212; <i class="price">$8.99</i></li>
    </ul>
    <h2>Soup <span class="minor">of the</span> Day</h2>
    <ul class="nobullets noindent">
      <li>Clam Chowder &#8212; $5.99</li>
    </ul>
    <h2>Sides and Such</h2>
    <ul class="nobullets noindent">
      <li>Clam Chowder &#8212; $5.99</li>
    </ul>
  </div>
</div>
{% endblock %}
